header {
  display: block;
  /*background: #ffeebb;*/
}

header nav > a {
  margin: 16px 0;
  padding-right: 40px;
  float:right;
}

header nav ul {
  list-style-type: none;
  list-style: none;
  display: inline-flex;
}

header nav ul li {
  padding: 0 5px;
}