.page {
  width: 100%;
}

.container {
  display: flex;
  flex-flow: row;
}

aside.left {
  flex: 1 6 20%;
  order: 1;
  background: #ccccff;
}

article {
  flex: 3 1 60%; order: 2;
  background: #dddd88;
}

aside.right {
  flex: 1 6 20%;
  order: 3;
  background: #ccccff;
}