code {
  font-size: 12px;
  word-wrap: break-word;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  box-sizing: border-box;
  color: #24292e;
  background-color: rgba(27,31,35,0.05);
  padding: 3px 8px;
  margin: 0;
  border-radius: 3px;
}

div, pre {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

blockquote {
  background: #f9f9f9;
  border-left: 7px solid #ccc;
  margin: 0;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}