.row {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  padding-bottom: 10px;
}

.row.error {
  color: red;
}

.row > .labels, .row > .controls, .row > input[type='submit'] {
  flex-grow: 0;
}

.row > .labels {
  margin-right: 10px;
  width: 145px;
}

.row > .labels > label, .row > .controls > input {
  margin: 2px 0;
}

.row > .controls {
  margin-left: 10px;
}

.row > .controls > button {
  margin-top: 12px;
}